@use "base/variables" as v;
@use "base/mixins" as m;

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &.hidden {
    display: none;
  }

  @include m.tablet {
    flex-direction: row;
  }

  img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    outline: 0.6rem solid #000;

    @include m.tablet {
      width: 30rem;
      height: 25rem;
      margin-top: 15rem;
    }

    @include m.desktop {
      width: 35rem;
      height: 35rem;
    }
  }
}
