@use "base/variables" as v;
@use "base/mixins" as m;

.recipe-form {
  @include m.absoluteItem;

  &.hidden {
    display: none;
  }

  &.active {
    display: grid;
  }
}

.form {
  background-color: #fff7f3;
  padding: 1rem;
  width: 40rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 3rem;
  }

  &__close {
    @include m.closeButton;
  }

  &__select {
    width: 100%;
    padding: 1rem;
    border: 0.3rem solid v.$secondaryColor;

    &:focus {
      outline: 0.2rem solid v.$secondaryColor;
    }
  }
}
