@use "variables" as v;
@use "mixins" as m;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: v.$fontFamily;
  font-size: v.$fontSize;
  background-color: v.$primaryColor;
  position: relative;

  &.fixed {
    overflow: hidden;
  }
}

.container {
  width: min(95%, 120rem);
  margin-inline: auto;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;

    a {
      display: block;
      &:visited,
      &:link {
        color: #000;
        @include m.desktop {
          color: #fff;
          &.active {
            color: #000;
          }
          &.current {
            color: v.$secondaryColor;
          }
        }
      }
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

.section {
  margin-top: 5rem;
}

.no-favorites {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 3rem;
}
