/*Colors*/
$primaryColor: #fff7f3;
$secondaryColor: #b65730;

$gray: #dee2e6;
$white: #fff;
$black: #333;

/*Font*/
$fontFamily: "Montserrat", sans-serif;
$fontSize: 1.5rem;

/*Queries*/
$mobile: 375px;
$tablet: 768px;
$desktop: 1200px;
